# Test of Redshift Tables

In [ ]:
#Import libraries
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
# Get configuration variables 
config = configparser.ConfigParser()
config.read('dwh.cfg')

host=config.get("CLUSTER","HOST")
dbname=config.get("CLUSTER","DB_NAME")
user=config.get("CLUSTER","DB_USER")
password=config.get("CLUSTER","DB_PASSWORD")
port=config.get("CLUSTER","DB_PORT")

In [3]:
# Establish connection with Redshift database
%load_ext sql
connect_to_db = 'postgresql+psycopg2://' + \
                user + ':' + password + '@' + \
                host + ':' + port + '/' + dbname;

%sql $connect_to_db
%sql set autocommit=on;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

# Test tables

In [4]:
%sql select * from staging_events LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(None, 'Logged In', 'Jacob', 'M', 33, 'Klein', None, 'paid', 'Tampa-St. Petersburg-Clearwater, FL', 'GET', 'About', 1540558108796, 255, None, 200, 1541441193796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 73),
 (None, 'Logged In', 'Rylan', 'M', 0, 'George', None, 'free', 'Birmingham-Hoover, AL', 'GET', 'About', 1541020249796, 233, None, 200, 1541512431796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 16),
 (None, 'Logged Out', None, None, 9, None, None, 'free', None, 'GET', 'About', None, 126, None, 200, 1541522507796, None, None),
 (None, 'Logged In', 'Kimber', 'F', 2, 'Norris', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'About', 1540975589796, 142, None, 200, 1541768981796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 47),
 (None, 'Logged In', 'Lily', 'F', 0, 'Burns', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'About', 1540621059796, 466, None, 200, 1542001320796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 32)]

In [5]:
%sql select * from staging_songs LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'ARPBNLO1187FB3D52F', '40.714550000000003', '-74.00712', 'New York, NY', 'Tiny Tim', 'SOAOIBZ12AB01815BE', 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', Decimal('43'), 2000),
 (1, 'ARDR4AC1187FB371A1', None, None, '', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', 'SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', Decimal('511'), 0),
 (1, 'AREDBBQ1187B98AFF5', None, None, '', 'Eddie Calvert', 'SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)', Decimal('138'), 0),
 (1, 'AR7SMBG1187B9B9066', None, None, '', 'Los Manolos', 'SOBCOSW12A8C13D398', 'Rumba De Barcelona', Decimal('218'), 0),
 (1, 'ARI3BMM1187FB4255E', '38.899099999999997', '-77.028999999999996', 'Washington', 'Alice Stuart', 'SOBEBDG12A58A76D60', 'Kassie Jones', Decimal('220'), 0)]

In [6]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(0, '2018-11-02 01:30:41', 83, 'free', 'none', 'none', 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1, '2018-11-02 01:25:34', 101, 'free', 'none', 'none', 184, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2, '2018-11-02 02:42:48', 66, 'free', 'none', 'none', 153, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, '2018-11-02 01:34:17', 83, 'free', 'none', 'none', 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4, '2018-11-02 05:52:29', 66, 'free', 'none', 'none', 187, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [7]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(3, 'Isaac', 'Valdez', 'M', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [8]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOAOIBZ12AB01815BE', 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', 'ARPBNLO1187FB3D52F', 2000, Decimal('43')),
 ('SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', 0, Decimal('511')),
 ('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, Decimal('207')),
 ('SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)', 'AREDBBQ1187B98AFF5', 0, Decimal('138')),
 ('SOBCOSW12A8C13D398', 'Rumba De Barcelona', 'AR7SMBG1187B9B9066', 0, Decimal('218'))]

In [9]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR051KA1187B98B2FF', 'Wilks', '', None, None),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', '8.4177', '-80.112780000000001'),
 ('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', '30.08615', '-94.101579999999998'),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', None, None),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', '27.940169999999998', '-82.325469999999996')]

In [10]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[('2018-11-01 21:08:16', '21', '1', '44', '11', '2018', '4'),
 ('2018-11-01 21:17:33', '21', '1', '44', '11', '2018', '4'),
 ('2018-11-01 21:24:53', '21', '1', '44', '11', '2018', '4'),
 ('2018-11-01 21:52:05', '21', '1', '44', '11', '2018', '4'),
 ('2018-11-01 22:23:14', '22', '1', '44', '11', '2018', '4')]

# Analytic Queries

In [11]:
%%sql 
SELECT a.user_id, b.first_name, a.location, b.gender 
FROM songplays a inner join users b on a.user_id=b.user_id limit 10;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[(83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F'),
 (83, 'Stefany', 'Lubbock, TX', 'F')]

In [12]:
%%sql
SELECT a.start_time, a.session_id, b.year, b.month
FROM songplays a inner join time b on a.start_time=b.start_time limit 10;

 * postgresql+psycopg2://awsuser:***@sparkify-analytics.chhome2opkea.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2018-11-01 21:08:16', 139, '2018', '11'),
 ('2018-11-01 21:17:33', 139, '2018', '11'),
 ('2018-11-01 21:24:53', 139, '2018', '11'),
 ('2018-11-01 21:52:05', 169, '2018', '11'),
 ('2018-11-01 22:23:14', 100, '2018', '11'),
 ('2018-11-02 01:34:17', 82, '2018', '11'),
 ('2018-11-02 03:34:34', 170, '2018', '11'),
 ('2018-11-02 05:15:41', 118, '2018', '11'),
 ('2018-11-02 05:52:29', 187, '2018', '11'),
 ('2018-11-02 09:01:21', 172, '2018', '11')]